<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

</head>
<body>
<div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
    <!--username : <sec:authentication property="username"/>&nbsp;&nbsp;&nbsp;&nbsp;-->
    <ul class = "menu" >
        <li>
            <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" value="退出" id="logout" style="color: blue"/>
            </form>
        </li>&nbsp;&nbsp;&nbsp;
        <li>员工编号:<span th:text="${id}"></span>&nbsp;&nbsp;&nbsp;</li>
        <li>员工名称:<span th:text="${name}"></span>&nbsp;&nbsp;&nbsp;</li>
    </ul>
</div>



</body>
</html>
<!--员工名称<span th:text="${name}"></span>&nbsp;&nbsp;&nbsp;-->
<!--员工编号<span th:text="${id}"></span>&nbsp;&nbsp;&nbsp;-->
<!--员工权限<span th:text="${permission}"></span>级&nbsp;&nbsp;&nbsp;-->
<!--<span>-->
        <!--<form action="#" th:action="@{/logout}" method="post">-->
            <!--<input type="submit" value="退出" />-->
        <!--</form>-->
    <!--</span>-->