<!DOCTYPE html>
<html lang="cmn-hans"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta HTTP-EQUIV = "pragma" CONTENT = "no-cache">
    <meta HTTP-EQUIV = "Cache-Control" CONTENT = "no-cache, must-revalidate">
    <meta HTTP-EQUIV = "expires" CONTENT = "0">
    <!-- 告知浏览器响应页面宽度 -->
    <meta name = "viewport" content = "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 支持国产浏览器高速浏览模式 -->
    <meta name = "renderer" content = "webkit">
    <!-- 上述4个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>健身房管理系统 | 首页</title>

    <link rel = "icon" href = "/favicon.ico">

    <!-- Bootstrap CSS -->
    <link rel = "stylesheet" href = "components/bootstrap/bootstrap.css">
    <!-- x-editable -->
    <link rel = "stylesheet" href = "components/x-editable/css/bootstrap-editable.css">
    <!-- Bootstrap-datetimepicker 日期时间插件样式 -->
    <link rel = "stylesheet" href = "components/bootstrap-datetimepicker/bootstrap-datetimepicker.css">
    <!-- Bootstrap-fileinput 文件上传样式-->
    <link rel = "stylesheet" href = "components/bootstrap-fileinput/fileinput.css">
    <!-- Bootstrap-table -->
    <link rel = "stylesheet" href = "components/bootstrap-table/bootstrap-table.css">
    <link rel = "stylesheet" href = "components/bootstrap-table/bootstrap-table-fixed-columns.css">
    <!-- Bootstrap-treeview -->
    <link rel = "stylesheet" href = "components/bootstrap-treeview/bootstrap-treeview.css">
    <!-- Font Awesome 5 字体图标样式 -->
    <link rel = "stylesheet" href = "components/font-awesome5/fontawesome-all.css">
    <!-- Ionicons -->
    <link rel = "stylesheet" href = "components/ionicons/ionicons.css">
    <!-- Animate 动画插件 -->
    <link rel = "stylesheet" href = "components/animate/animate.css">
    <!-- Sweetalert2 -->
    <link rel = "stylesheet" href = "components/sweetalert2/sweetalert2.css">
    <!-- Nprogress 迷你进度条 -->
    <link rel = "stylesheet" href = "components/nprogress/nprogress.css">
    <!-- iCheck -->
    <link rel = "stylesheet" href = "components/iCheck/square/red_20.css">
    <!-- 列表拖拽排序 -->
    <link rel = "stylesheet" href = "components/jquery-nestable/jquery.nestable.css">
    <!-- Theme style -->
    <link rel = "stylesheet" href = "components/adminlte/adminlte.css">
    <!-- AdminLTE Skins 可更换 -->
    <link rel = "stylesheet" href = "components/adminlte/skins/_all-skins.css">
    <!-- Select2 下拉菜单 -->
    <link rel = "stylesheet" href = "components/select2/select2.css">
    <link rel = "stylesheet" href = "components/select2/select2-bootstrap.css">
    <!-- 边缘菜单样式 -->
    <link rel = "stylesheet" href = "css/edgemenu.css">

    <link rel = "stylesheet" href = "css/home.css">
    <!-- jqwidgets CSS -->
    <link rel = "stylesheet" href = "components/jqwidgets/styles/jqx.base.css">
    <!-- <link rel = "stylesheet" href = "components/jqwidgets/styles/jqx.bootstrap.css">-->

    <!-- home样式 -->
    <link  href = "css/home.css" rel="stylesheet" type="text/css">

    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 3.2.1 -->
    <script src = "components/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src = "components/jquery-ui/jquery-ui.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src = "components/bootstrap/bootstrap.js"></script>
    <!-- AdminLTE App -->
    <script src = "components/adminlte/adminlte.js"></script>

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- 顶部导航栏 -->
    <header class = "main-header">
        <!-- Logo 可以使用图标代替 -->
        <a href = "/" class = "logo">
            <!-- logo for regular state and mobile devices -->
            <span class = "logo-lg">&nbsp;健 身 房 管 理 系 统</span>
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class = "logo-mini"><b>BMS</b></span>
        </a>
        <!-- 标题导航 -->
        <nav class = "navbar navbar-static-top" role = "navigation">
            <!-- 侧栏切换按钮-->
            <a href = "#" class = "sidebar-toggle" data-toggle = "push-menu" role = "button">
                <span class = "sr-only">Toggle navigation</span>
            </a>
            <!-- 标题导航客户菜单 -->
            <div class = "navbar-custom-menu">
                <ul class = "nav navbar-nav">
                    <!-- User Account Menu -->
                    <li class = "dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a id = "yhzh" href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
                            <!-- 右上角用户头像 -->
                            <!--<img src = "images/user-160px.png" class = "user-image" alt = "User Image">-->
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span th:text="${name}"></span>
                        </a>
                        <ul class = "dropdown-menu">
                            <!-- 用户菜单头像 -->
                            <li class = "user-header">
                                <!--<img src = "images/user-160px.png" class = "img-circle" alt = "User Image">-->
                                <p class = "yhmc">员工姓名：<span th:text="${name}"></span></p>

                            </li>
                            <!-- Menu Body -->
                            <li class = "user-body">
                                <p class = "yhmc">员工权限：<span th:text="${permission}"></span></p>
                                <p class = "yhmc">员工编号：<span th:text="${id}"></span></p>
                                <!--<div class = "row">-->
                                    <!--<div class = "col-xs-4 text-center">-->
                                        <!--<a href = "#" id = "clear">清除缓存</a>-->
                                    <!--</div>-->
                                    <!--<div class = "col-xs-4 text-center">-->
                                        <!--<a href = "#" id = "prints">打印设置</a>-->
                                    <!--</div>-->
                                    <!--<div class = "col-xs-4 text-center">-->
                                        <!--<a href = "#" id = "updUserPwdBtn">修改密码</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!-- /.row -->
                            </li>
                            <!-- Menu Footer-->
                            <li class = "user-footer">
                                <div class = "pull-center">
                                    <!--<a href = "#" class = "btn btn-default btn-flat" id = "signout">注　销</a>-->
                                    <form action="#" th:action="@{/logout}" method="post">
                                        <input type="submit" value="退出" id="logout" style="color: blue"/>
                                    </form>
                                </div>
                                <!--<div class = "pull-left">-->
                                    <!--&lt;!&ndash;<a href = "#" class = "btn btn-default btn-flat" id = "info">账　户</a>&ndash;&gt;-->
                                    <!--<a href = "#" class = "btn btn-default btn-flat">账　户</a>-->
                                <!--</div>-->
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- 左侧列,包含徽标和侧边栏 -->
    <aside class="main-sidebar">
        <!--<body class="default">-->
        <div id="jqxWidget" class="left_list"></div>
        <!--</body>-->
    </aside>
    <!-- 左侧列结束 -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!--<section class="content-header"></section>-->
    </div>

    <!--<footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.4.0
        </div>
        <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
        reserved.
    </footer>-->
</div>
</body>

<!--<script type="text/javascript" src="components/jquery/jquery-3.3.1.min.js"></script>-->
<script type="text/javascript" src="components/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="components/adminlte/adminlte.min.js"></script>
<!--<script type="text/javascript" src="components/jqwidgets/jqxcore.js"></script>-->
<script type="text/javascript" src="components/jqwidgets/jqx-all.js"></script>
<script type="text/javascript" src="components/jqwidgets/globalization/globalize.js"></script>
<script type="text/javascript" src="components/jqwidgets/globalization/globalize.locale.zh.js"></script>
<script type="text/javascript" src="components/jqwidgets/globalization/globalize.culture.zh.js"></script>
<script type="text/javascript" src="components/fontawesome/all.js"></script>
<script type="text/javascript" src="js/home.js"></script>

</html>