<html lang="en">
<section class="content-header">
    <h1> 会员消费查询</h1>
    <ol class="breadcrumb">
        <li><a href="../"><i class="fa fa-object-group"></i> 首页</a></li>
        <li> 统计报表</li>
        <li class="active"> 会员消费查询</li>
    </ol>
</section><!-- ./content-header -->
<head>
    <!--<script type="text/javascript" src="js/common.js"></script>-->
    <script type="text/javascript" src="js/statistical/memberSpending.js"></script>

</head>
<section class="container-fluid">
    <!--<div id="jqxGrid">-->
    <!--</div>-->
    <div id='tabs'>
        <ul>
            <li style="margin-left: 30px;">
                积分消费明细
            </li>
            <li>
                积分消费汇总
            </li>
        </ul>
        <div style="overflow: hidden;">
            <div style="border:none;" id="jqxGrid">
            </div>
        </div>
        <div style="overflow: hidden;">
            <div style="border:none;" id="jqxGrid2"></div>
        </div>
    </div>
</section>
</html>