<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xidian.meiping.dao.MemberMapper" >
  <resultMap id="BaseResultMap" type="com.xidian.meiping.entity.Member" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="agenda" property="agenda" jdbcType="VARCHAR" />
    <result column="tele_number" property="teleNumber" jdbcType="VARCHAR" />
    <result column="card_type" property="cardType" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="balance" property="balance" jdbcType="DOUBLE" />
    <result column="credit" property="credit" jdbcType="INTEGER" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, agenda, tele_number, card_type, status, balance, credit, start_date, end_date
  </sql>
  <select id="selectAllMember" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from members
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from members
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from members
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xidian.meiping.entity.Member" >
    insert into members (id, name, agenda, 
      tele_number, card_type, status, 
      balance, credit, start_date, 
      end_date)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{agenda,jdbcType=VARCHAR}, 
      #{teleNumber,jdbcType=VARCHAR}, #{cardType,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{balance,jdbcType=DOUBLE}, #{credit,jdbcType=INTEGER}, #{startDate,jdbcType=TIMESTAMP}, 
      #{endDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xidian.meiping.entity.Member" >
    insert into members
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="agenda != null" >
        agenda,
      </if>
      <if test="teleNumber != null" >
        tele_number,
      </if>
      <if test="cardType != null" >
        card_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="credit != null" >
        credit,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="agenda != null" >
        #{agenda,jdbcType=VARCHAR},
      </if>
      <if test="teleNumber != null" >
        #{teleNumber,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null" >
        #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=DOUBLE},
      </if>
      <if test="credit != null" >
        #{credit,jdbcType=INTEGER},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xidian.meiping.entity.Member" >
    update members
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="agenda != null" >
        agenda = #{agenda,jdbcType=VARCHAR},
      </if>
      <if test="teleNumber != null" >
        tele_number = #{teleNumber,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null" >
        card_type = #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=DOUBLE},
      </if>
      <if test="credit != null" >
        credit = #{credit,jdbcType=INTEGER},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xidian.meiping.entity.Member" >
    update members
    set name = #{name,jdbcType=VARCHAR},
      agenda = #{agenda,jdbcType=VARCHAR},
      tele_number = #{teleNumber,jdbcType=VARCHAR},
      card_type = #{cardType,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      balance = #{balance,jdbcType=DOUBLE},
      credit = #{credit,jdbcType=INTEGER},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>