<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xidian.meiping.dao.RendTrainerLogMapper" >
  <resultMap id="BaseResultMap" type="com.xidian.meiping.entity.RendTrainerLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="trainer_id" property="trainerId" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="operater_id" property="operaterId" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="operater_name" property="operaterName" jdbcType="VARCHAR" />
    <result column="total_amount" property="totalAmount" jdbcType="DOUBLE" />
    <result column="trainer_name" property="trainerName" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, trainer_id, member_id, operater_id, start_time, end_time
  </sql>
  <sql id="Base_Column_List_Sp" >
    rtl.id, rtl.trainer_id, rtl.member_id, rtl.operater_id, rtl.start_time, rtl.end_time,
    operater.name as operater_name,
--     datediff(rtl.end_time,rtl.start_time)*trainer.price as total_amount,
    rtl.total_amount,
    employee.name as trainer_name
  </sql>
  <select id="selectByMemberId" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List_Sp" />
    from rend_trainer_log as rtl,operater,trainer,employee
    where rtl.member_id = #{memberId,jdbcType=INTEGER}
    and operater.operater_id = rtl.operater_id
    and trainer.trainer_id = rtl.trainer_id
    and employee.id = trainer.trainer_id
  </select>
  <select id="selectByStartTimeAndMemberId" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from rend_trainer_log as r
    where r.start_time = #{startTime,jdbcType=TIMESTAMP}
    and r.member_id = #{memberId,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from rend_trainer_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByMemberId" parameterType="java.lang.Integer" >
    delete from rend_trainer_log
    where member_id = #{memberId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rend_trainer_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xidian.meiping.entity.RendTrainerLog" >
    insert into rend_trainer_log (id, trainer_id, member_id, 
      operater_id, start_time, end_time
      )
    values (#{id,jdbcType=INTEGER}, #{trainerId,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, 
      #{operaterId,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xidian.meiping.entity.RendTrainerLog" >
    insert into rend_trainer_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="trainerId != null" >
        trainer_id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="operaterId != null" >
        operater_id,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="trainerId != null" >
        #{trainerId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="operaterId != null" >
        #{operaterId,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xidian.meiping.entity.RendTrainerLog" >
    update rend_trainer_log
    <set >
      <if test="trainerId != null" >
        trainer_id = #{trainerId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="operaterId != null" >
        operater_id = #{operaterId,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xidian.meiping.entity.RendTrainerLog" >
    update rend_trainer_log
    set trainer_id = #{trainerId,jdbcType=INTEGER},
      member_id = #{memberId,jdbcType=INTEGER},
      operater_id = #{operaterId,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>