<html lang="en">
<section class="content-header">
    <h1> 职位管理</h1>
    <ol class="breadcrumb">
        <li><a href="../"><i class="fa fa-object-group"></i> 首页</a></li>
        <li> 系统设置</li>
        <li class="active"> 职位管理</li>
    </ol>
</section><!-- ./content-header -->
<head>
    <!--<script type="text/javascript" src="js/common.js"></script>-->
    <script type="text/javascript" src="js/systemSetting/positionSetting.js"></script>
    <script type="text/javascript" src="js/demos.js"></script>

    <script type="text/javascript">

    </script>
    <script class="popUpWindow" type="text/html">
        <form action="">
            <div class="popUpWindow" >
                <table>
                    <tr>
                        <td >职位编号：</td>
                        <td><input type="text" id="id" placeholder="职位编号" ></td>
                    </tr>
                    <tr>
                        <td>职位名称：</td>
                        <td><input type="text" id="name" placeholder="职位名称" ></td>
                    </tr>
                </table>
            </div>
        </form>
    </script>
</head>
<section class="container-fluid">
    <div id="jqxGrid">
    </div>
</section>
</html>