<html lang="en">
<section class="content-header">
    <h1> 衣柜管理</h1>
    <ol class="breadcrumb">
        <li><a href="../"><i class="fa fa-object-group"></i> 首页</a></li>
        <li> 系统设置</li>
        <li class="active"> 衣柜管理</li>
    </ol>
</section><!-- ./content-header -->
<head>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/systemSetting/wardrobeSetting.js"></script>
    <script type="text/javascript" src="js/demos.js"></script>

    <script type="text/javascript">

    </script>
    <script class="popUpWindow" type="text/html">
        <form action="">
            <div class="popUpWindow" >
                <table>
                    <tr>
                        <td id = 'name1'>衣柜编号：</td>
                        <td><input type="text" id="id" placeholder="衣柜编号" ></td>
                    </tr>
                    <tr>
                        <td id = 'name2'>衣柜名称：</td>
                        <td><input type="text" id="name" placeholder="衣柜名称" ></td>
                    </tr>
                    <tr>
                        <td >衣柜状态：</td>
                        <!--<td><input type="text" id="status" placeholder="衣柜状态"></td>-->
                        <td><select id="status" style="width: 100%;">
                            <option value="" selected="true" disabled="true">选择状态</option>
                            <option value ="空闲">空闲</option>
                            <option value ="已租">已租</option>
                            <option value="损坏">损坏</option>
                        </select></td>
                    </tr>

                </table>
            </div>
        </form>
    </script>
</head>
<section class="container-fluid">
    <div id="jqxGrid">
    </div>
</section>
</html>